@const maxPromoButtonWidth: 1@arrowButtonWidth + 1@offsetBetweenScreenAndAirinfo + 1@arrowBaseBtnWidth + 1@overflowScreenButton + 1@newWidgetIconHeight + 1@scrollBarSize + 0.13@sf;

@const arrowButtonHeight: 0.042@sf;
@const arrowButtonWidth: 0.35@sf;

@const arrowButtonWithImageHeight: 0.17@sf;

@const arrowTexturePaddingBottom: 0.006@scrn_tgt;
@const arrowTexturePaddingUpAndRight: 0.005@scrn_tgt;

@const promoButtonTextPadding: 2;
@const overflowScreenButton: 7;

@const arrowBaseBtnWidth: 1/3@mIco + 1@overflowScreenButton;

@const promoButtonSizeWithOffsets: 1@mIco + 3@arrowTexturePaddingUpAndRight;

promoButton {
  background-image: #ui/gameuiskin#expandable_item_transp;
  background-color: @white;
  background-position: 2@arrowTexturePaddingUpAndRight, 1@arrowTexturePaddingUpAndRight, 1@arrowTexturePaddingUpAndRight, 1@arrowTexturePaddingBottom;
  background-repeat: expand;

  css-hier-invalidate:yes;
  total-input-transparent:yes;

  pos: pw - w + 1@overflowScreenButton, 0;
  position: relative;

  margin-bottom: 1@framePadding;

  padding-right:1@arrowTexturePaddingUpAndRight + (1@offsetBetweenScreenAndAirinfo - 1@mIco);
  padding-top:1@arrowTexturePaddingUpAndRight;
  padding-bottom:0.5@arrowTexturePaddingBottom;
}

promoButton > uncollapsedContainer {
  css-hier-invalidate:yes;
  position:relative;
}

promoButton[type=battleTask] expandable {
  behaviour: button;
  background-color:@transparent;
  width:1@arrowButtonWidth + 1@arrowTexturePaddingUpAndRight + 1@offsetBetweenScreenAndAirinfo;
  pos: 0, 0;
  position: relative;
  padding:0;
}

promoButton[type=imageButton][collapsed=no] {
  padding-bottom:0;
}

promoButton[type=recentItems] fillBlock {
  height: 0.5@itemHeight + 0.038@scrn_tgt;
  margin-left:0.25@itemHeight;
}

promoButton[inactiveColor=yes] {
  btnHover:no;
}

promoButton fillBlock {
  behaviour: button;
  css-hier-invalidate:yes;
  position: relative;
}

promoButton[type=imageRoulette] fillBlock {
  position:absolute;
  transp-base:0;
  transp-end:255;
  transp-func:square;
}

promoButton fillBlock[animation=show] {
  transp-time:1500;
  needAnim:yes;
}

promoButton fillBlock[animation=hide] {
  transp-time:-1500;
  needAnim:yes;
}

promoButton fillBlock[_transp-timer=1][color-factor=255][animation=show] {
  needAnim:no;
}

promoButton fillBlock[_transp-timer=0][animation=hide] {
  needAnim:no;
  display:hide;
}

promoButton fillBlock[needAnim=yes] {
  behaviour:massTransparency;
}

promoButton[type=arrowButton] fillBlock,
promoButton[type=battleTask] expandable[setStandartWidth=yes] {
  height:1@arrowButtonHeight;
  width: 1@arrowButtonWidth;
}

promoButton[type=simpleList] {
  height:1@arrowButtonHeight + 2@arrowTexturePaddingUpAndRight;
  width:1@arrowButtonWidth + 1@offsetBetweenScreenAndAirinfo;
  padding-right:1@offsetBetweenScreenAndAirinfo;
}

promoButton > collapsedContainer {
  behaviour: button;
  height:1@arrowButtonHeight;
  padding-left:h;
}

promoButton[collapsed=no] > collapsedContainer {
  width:1@arrowButtonWidth;
}

promoButton fillBlock > textareaFade,
promoButton > textareaFade {
  left: pw-w;
  top: 50%ph-50%h;
  position: relative;

  width:pw;
  css-hier-invalidate:yes;
}

promoButton[type=imageButton] fillBlock > textareaFade,
promoButton[type=imageRoulette] fillBlock > textareaFade {
  top: 0;
  position: absolute;
  padding:1@promoButtonTextPadding;
  background-color:@shadeBackgroundColor3;
}

promoButton fillBlock > textareaFade > textarea,
promoButton > textareaFade > textarea {
  left: pw-w;
  top: 50%ph-50%h;
  position: relative;

  padding:1@promoButtonTextPadding;
  padding-left:1@framePadding;
  max-width:pw;
  height:ph;
  text-align:right;

  removeParagraphIndent:yes;
  css-hier-invalidate:yes;

  pare-text:yes;
  overflow-y:none;
}

promoButton > textareaFade > textarea {
  left:"";
  width:fw;
}

promoButton[type=imageButton] fillBlock > textareaFade > textarea,
promoButton[type=imageRoulette] fillBlock > textareaFade > textarea {
  left: pw-w-1@framePadding;
}

[show_console_buttons=yes] promoButton:focus,
[show_console_buttons=yes] promoButton:focus[type=battleTask] expandable,
promoButton:hover, promoButton:hover[type=battleTask] expandable,
promoButton[type=simpleList][selected=yes] {
  background-image: #ui/gameuiskin#expandable_item_selected_transp;
}

promoButton[invisibleHover=yes]:hover {
  background-image: #ui/gameuiskin#expandable_item_transp;
}

promoButton fillBlock[link] > textareaFade > textarea {
  color:@linkTextColor;
}

promoButton fillBlock[link] > textareaFade > textarea > underline {
  background-color:@linkTextColor;
}

promoButton:hover fillBlock[link] > textareaFade > textarea,
[show_console_buttons=yes] promoButton:focus fillBlock[link] > textareaFade > textarea {
  color:@linkTextHoverColor;
}

promoButton:hover fillBlock[link] > textareaFade > textarea > underline,
[show_console_buttons=yes] promoButton:focus fillBlock[link] > textareaFade > textarea > underline {
  background-color:@linkTextHoverColor;
}

promoButton fillBlock > imageFade {
  background-color:@white;
  background-position:4;
  background-repeat:expand;
  background-image:#ui/gameuiskin#expandable_item;

  pos:0, -0.5@arrowTexturePaddingUpAndRight;
  position:relative;

  padding:2, 2, 2, 4;

  css-hier-invalidate:yes;

  background-color:#c7c7c7c7;
}

promoButton fillBlock > imageFade > img {
  size:pw, ph;
  background-color:@white;
  background-position:0;
  background-repeat:expand;

  background-color:#c7c7c7c7;
}

promoButton:hover[type=imageButton] fillBlock > imageFade,
promoButton:hover[type=imageRoulette] fillBlock > imageFade,
promoButton:hover[type=arrowButton] fillBlock > imageFade {
  background-image:#ui/gameuiskin#expandable_item_selected;
}

promoButton:hover[type=imageButton] fillBlock > imageFade > img,
promoButton:hover[type=imageRoulette] fillBlock > imageFade > img,
promoButton:hover[type=arrowButton] fillBlock > imageFade > img {
  background-color:@white;
}

promoButton[collapsed=yes] expandable,
promoButton[collapsed=yes] fillBlock,
promoButton[collapsed=yes] uncollapsedContainer,
promoButton[collapsed=no] > collapsedContainer {
  display:hide;
}

shortHeaderText, shortHeaderIcon {
  behaviour:textArea;
  re-type:textarea;

  pos:0, 50%ph-50%h;
  position:relative;

  font:@normal;
  pare-text:yes;
  color:@commonPromoButtonTextColor;
  hideEmptyText:yes;
  text-align:right;
}

shortHeaderText { font:@small; }

promoButton > collapsedContainer > shortHeaderText {
  margin-right:1@promoButtonTextPadding;
}

collapsedContainer {
  css-hier-invalidate:yes;
}

promoButton[type=arrowButton] fillBlock > textareaFade > textarea,
promoButton > textareaFade > textarea,
promoButton fillBlock > textareaNoTab {
  color: @commonPromoButtonTextColor;
}

promoButton:hover fillBlock > textareaFade > textarea,
promoButton:hover > textareaFade > textarea,
promoButton[type=simpleList][selected=yes] > textareaFade > textarea,
promoButton:hover expandable > selImg > header > textareaNoTab,
promoButton:hover expandable > selImg > textareaNoTab,
promoButton:hover fillBlock > textareaNoTab,
promoButton:hover collapsedContainer > shortHeaderText,
promoButton:hover collapsedContainer > shortHeaderIcon {
  color: @hoverPromoButtonTextColor;
}

promoButton[inactiveColor=yes] fillBlock > textareaFade > textarea,
promoButton:disabled fillBlock > textareaFade > textarea,
promoButton[inactiveColor=yes] expandable > selImg > header > textareaNoTab,
promoButton:disabled expandable > selImg > header > textareaNoTab,
promoButton[inactiveColor=yes] collapsedContainer > shortHeaderText,
promoButton[inactiveColor=yes] collapsedContainer > shortHeaderIcon {
  color:@inactiveButtonTextColor;
}

promoButton:hover[inactiveColor=yes] fillBlock > textareaFade > textarea,
promoButton:hover[inactiveColor=yes] expandable > selImg > header > textareaNoTab,
promoButton:hover[inactiveColor=yes] collapsedContainer > shortHeaderText,
promoButton:hover[inactiveColor=yes] collapsedContainer > shortHeaderIcon {
  color:@inactiveButtonHoverTextColor;
}

promoButton[invisibleHover=yes] collapsedContainer > shortHeaderText,
promoButton[invisibleHover=yes] > uncollapsedContainer > fillBlock > textareaFade > textarea {
  color: @commonPromoButtonTextColor;
}

promoButton[type=autoWidth] {
  pos:pw-w, 0;
  padding-right:1@arrowTexturePaddingUpAndRight;
}

promoButton[type=autoWidth] > collapsedContainer,
promoButton[type=autoWidth] > uncollapsedContainer > fillBlock > textareaFade {
  width:0;
}

promoButton[type=autoWidth] > collapsedContainer > shortHeaderText {
  max-width:p.p.p.w - 1@promoButtonSizeWithOffsets;
}

promoButton[type=autoWidth] > uncollapsedContainer > fillBlock > textareaFade > textarea {
  max-width:p.p.p.p.p.w - 1@promoButtonSizeWithOffsets;
}

shortHeaderText[animation]
{
  pos:pw-w, 50%ph-50%h;
  position:absolute;

  transp-base:0;
  transp-end:255;
  transp-func:square;
  transp-time:500;
  blend-time:0;   needAnim:yes;
}

shortHeaderText[animation=hide] {
  transp-time:-150;
}

shortHeaderText[_transp-timer=0][animation=hide] {
  needAnim:no;
  display:hide;
}

shortHeaderText[_transp-timer=1][animation=show] {
  needAnim:no;
}

shortHeaderText[needAnim=yes] {
  behaviour:basicTransparency;
}

hangarToggleButton {
  behaviour:button;
  size:@mIco, @mIco;
  background-image:#ui/gameuiskin#window_body;
  background-repeat:stretch;
  snd_click:click;
  tooltip:"#mainmenu/btnCollapse";
  display:show;
  enable:yes;
  css-hier-invalidate:yes;
  margin-left:1@arrowTexturePaddingUpAndRight;

  top:0;
  position:relative;
}

promoButton[invisibleHover=yes] > hangarToggleButton {
  not-input-transparent:yes;
}

promoButton[type=recentItems] > hangarToggleButton { top:ph-h;}

hangarToggleButton:hover, hangarToggleButton:focus {
  background-color:#99999999;
  color:@white;
}

[collapsed=yes] > hangarToggleButton {
  tooltip:"#mainmenu/btnExpand";
}

hangarToggleButton > directionImg {
  background-repeat:aspect-ratio;
  background-image:#ui/gameuiskin#spinnerListBox_arrow_up;
  pos:(pw-w)/2, (ph-h)/2;
  position:absolute;
  size:0.02@scrn_tgt, 0.02@scrn_tgt;
  rotation:270;
  input-transparent:yes;
  background-color:@transparent;
}

promoButton:hover[collapsed=no] > hangarToggleButton > directionImg,
[show_console_buttons=yes] promoButton:focus[collapsed=no] > hangarToggleButton > directionImg,
promoButton[collapsed=yes] > hangarToggleButton > directionImg,
promoButton[invisibleHover=yes] > hangarToggleButton > directionImg {
  background-color:@white;
}

hangarToggleButton[type=right] > directionImg { rotation:90; }
[collapsed=yes] > hangarToggleButton > directionImg { rotation:90; }
[collapsed=yes] > hangarToggleButton[type=right] > directionImg { rotation:270; }
