@const activateTabPaddingSum:2@bigButtonTextPadding;

activateTab {
  height:ph;
  padding:1@bigButtonTextPadding, 0;
  re-type:fgPict;
  foreground-position:0, 0, 0, h - 2@dp;
  css-hier-invalidate:yes;
  total-input-transparent:yes;
}
activateTab:hover {
  background-color:@listboxHoverOptionColor;
  foreground-color:@listboxHoverOptionLineColor;
}
activateTab:pushed, activateTab[chosen=yes] {
  background-color:@listboxSelOptionColor;
  foreground-color:@listboxSelOptionLineColor;
}

tabText {
  re-type:textarea;
  behavior:textarea;
  font:@fontNormal;
  color:@commonTextColor;
  text-align:center;
  word-wrap:no;
}

[smallFont=yes] > activateTab > tabText {
  font:@fontSmall;
}

activateTab > tabText {
  top:50%ph-50%h;
  position:relative;
}

activateTab:hover > tabText {
  color:@listboxHoverTextColor;
}
activateTab:pushed > tabText, activateTab[chosen=yes] > tabText,
activateTab[selected=yes] > tabText {
  color:@activeTextColor;
}

activateTab > RadioButtonImg {
  pos:0.5ph-0.5w, 0.5ph-0.5h;
  position:absolute;
}

activateTab:hover >                     RadioButtonImg,
activateTab[selected=yes] >             RadioButtonImg { background-image:#ui/gameuiskin#radiobutton_unchecked_hover; }

activateTab[chosen=yes] >               RadioButtonImg { background-image:#ui/gameuiskin#radiobutton_checked_; }
activateTab[chosen=yes]:hover >         RadioButtonImg,
activateTab[chosen=yes][selected=yes] > RadioButtonImg { background-image:#ui/gameuiskin#radiobutton_checked_hover; }
