@const activateTabPaddingSum:2@buttonTextPadding + 1@checkboxSize;

activateTab {
  height:ph;
  re-type:9rect;
  background-position:5;
  background-repeat:expand;
  background-image:#ui/gameuiskin#header_button_;
  background-color:@white;
  padding:4*@sf/@pf_outdated;
  css-hier-invalidate:yes;
  total-input-transparent:yes;
}
activateTab:hover {
  background-image:#ui/gameuiskin#header_button_hover;
}
activateTab:pushed, activateTab[chosen=yes] {
  background-image:#ui/gameuiskin#header_button_active;
}

tabText {
  re-type:textarea;
  behavior:textarea;
  font:@small;
  color:@commonTextColor;
  text-align:left;
  word-wrap:no;
}

activateTab > tabText {
  top:50%ph-50%h;
  position:relative;
}

activateTab:hover > tabText {
  color:@hoverTextColor;
}
activateTab:pushed > tabText, activateTab[chosen=yes] > tabText,
activateTab[selected=yes] > tabText {
  color:@activeTextColor;
}

[wide=yes] > activateTab > tabText {
  min-width:0.15@scrn_tgt;
}

activateTab > RadioButtonImg {
  pos:0, 0.5ph-0.5h;
  position:relative;
}

activateTab:hover >                     RadioButtonImg,
activateTab[selected=yes] >             RadioButtonImg { background-image:#ui/gameuiskin#radiobutton_unchecked_hover; }

activateTab[chosen=yes] >               RadioButtonImg { background-image:#ui/gameuiskin#radiobutton_checked_; }
activateTab[chosen=yes]:hover >         RadioButtonImg,
activateTab[chosen=yes][selected=yes] > RadioButtonImg { background-image:#ui/gameuiskin#radiobutton_checked_hover; }

SlotInfoContentSwitcher
{
  behaviour:select;
  re-type:select;
  re-type:9rect;
  background-position:6,6;
  background-repeat:expand;
  background-image:#ui/gameuiskin#selectbox_bg;
  background-color:@white;
  snd_select:choose;
  snd_set_focus:focus;
  snd_dbl_click:click;
  need_flow:yes;
}

SlotInfoTab {
  re-type:9rect;
  min-width:20%sw;
  padding:0.02@scrn_tgt, 0;
  css-hier-invalidate:yes;
  color:#999999;
  background-position:6;
  background-repeat:expand;
  background-image:#ui/gameuiskin#selectbox_select;
  background-color:@transparent;
}

SlotInfoTabImg {
  height:4*@scrn_tgt/100.0;
  width:h;
  pos:50%pw-50%w, 4.2*@scrn_tgt/100.0-60%h;
  position:relative;
  color:@commonTextColor;
  background-repeat:expand;
  background-color:@imageNotSelectedColor;
  margin:3*@scrn_tgt/100.0, 0;
  input-transparent:yes;
}

SlotInfoContentSwitcher > SlotInfoTab > SlotInfoTabImg {
  pos:50%pw-50%w, 50%ph-50%h;
}

SlotInfoContentSwitcher > SlotInfoTab:current > SlotInfoTabImg {
  height:4*@scrn_tgt/100.0;
  background-color:@white;
}

[show_console_buttons=yes] SlotInfoContentSwitcher:focus > SlotInfoTab:current {
  re-type:9rect;
  foreground-color: @gamepadFocusFrameColor;
  foreground-image: #ui/gameuiskin#item_selection;
  foreground-position: 8, 10, 8, 8;
  foreground-repeat: expand;
}

VerticalActivateSelect > SlotInfoTab[selected=yes] > discount_notification {
  display:hide;
}

SlotInfoTabImg:disabled {
  background-color:#80808080;
}

SlotInfoTab:hover {
  background-color:@commonMenuButtonColor;
  color:@hoverTextColor;
}

SlotInfoTab:current {
  background-color:@white;
  color:@white;
}
