@const hintRowCenterOffsetY:0.0185@shHud;

hint {
  flow: vertical;
  position: relative;
  pos: pw/2 - w/2, 0;
}

[flow-align=right] > hint {
  pos:pw-w, 0;
}

hintRow {
  position: relative;
  pos: pw/2 - w/2, 0;

  max-width: p.p.w;
}

hintRow > textareaNoTab {
  max-width: p.p.p.w;

  text-align: center;
}

hintRow > keyboardButton {
  position: relative;
  top: 0.0185@scrn_tgt - 50%h;
}

hintRow > gamepadButton,
hintRow > shortcutAxis,
hintRow > keyboardButton,
hintRow > combination,
hintRow > timeBar {
  position: relative;
  top: @hintRowCenterOffsetY - 50%h;
}

hintRow textareaNoTab {
  font: @hud_normal;
  shadeStyle:'HudHeader3D';
}

hintRow > combination > textareaNoTab {
  font: @hud_normal;
}

hintRow > timeBar textareaNoTab {
  font: @hud_normal;
}



hint[animation=show],
hint[animation=hide] {
  transp-base:0;
  transp-end:255;
  transp-func:square;
  _needAnim:yes;
}

hint[animation=show] {
  transp-time:300;
  blend-time:0;
}

hint[animation=hide] {
  transp-time:-600;
  blend-time:200;
}

hint[animation=wink] {
  transp-base:170;
  transp-end:255;
  transp-time:1500;
  transp-func:sin;
  transp-cycled:yes;
  _needAnim:yes;
}

hint[_transp-timer=0][animation=hide] {
  _needAnim:no;
  display:hide;
}

hint[_transp-timer=1][animation=show] {
  _needAnim:no;
}

hint[_needAnim=yes] {
  behaviour:massTransparency;
}