popup_menu {
  background-color:@frameDarkBackgroundColor;
  border-color:@frameDarkBorderColor;
  border:yes;
  border-offset:@dp;
  padding:1@framePadding;
  css-hier-invalidate: yes;
}

popup_menu_arrow {
  id: popup_menu_arrow;
  background-color: @white;
  background-image: #ui/gameuiskin#popup_menu_arrow;
  background-repeat: expand;
  background-position:11, 1;
  width: 22@dp;
  height: 12@dp;
  position: absolute;
}

popup_menu_arrow {
  re-type:rotation;
  background-rotation:0;
}

[menu_align=top] > popup_menu_arrow {
  pos: 0.5pw - 0.5w, ph-1;
}

[menu_align=bottom] > popup_menu_arrow {
  background-rotation:180;
  pos: 0.5pw - 0.5w, -h + 1;
}

[menu_align=left] > popup_menu_arrow {
  background-rotation:270;
  pos: pw - 0.5h, 0.5ph - 0.5h;
}
[menu_align=right] > popup_menu_arrow {
  background-rotation:90;
  pos: -w + 0.5h, 0.5ph - 0.5h;
}