popup_menu {
  re-type:rotation;
  background-color: @white;
  background-image: #ui/gameuiskin#popup_menu_bg;
  background-position:3, 10, 3, 2;
  background-repeat: expand;
  padding: 10*@sf/@pf_outdated, 6 + 10*@sf/@pf_outdated, 4 + 10*@sf/@pf_outdated, 10*@sf/@pf_outdated;
  css-hier-invalidate: yes;
}

popup_menu_arrow {
  id: popup_menu_arrow;
  background-color: @white;
  background-image: #ui/gameuiskin#popup_menu_arrow;
  background-repeat: expand;
  background-position:11, 1;
  width: 22@dp;
  height: 12@dp;
  position: absolute;
}

popup_menu,
popup_menu_arrow {
  re-type:rotation;
  background-rotation:0;
}


[menu_align=top] > popup_menu_arrow {
  pos: 0.5pw - 0.5w, ph-1;
}


popup_menu[menu_align=bottom] {
  background-rotation:180;
}

[menu_align=bottom] > popup_menu_arrow {
  background-rotation:180;
  pos: 0.5pw - 0.5w, -h + 1;
}


[menu_align=left] > popup_menu_arrow {
  background-rotation:270;
  pos: pw - 0.5h, 0.5ph - 0.5h;
}
[menu_align=right] > popup_menu_arrow {
  background-rotation:90;
  pos: -w + 0.5h, 0.5ph - 0.5h;
}