@const skillProgressBgIncSize: 0;
@const skillProgressHeightMul: 0.5;
@const skillProgressWidthMul: 2; 
skillProgress {
  behaviour:progress;
  re-type:progress;
  foreground-color:@white;
  foreground-image:#ui/gameuiskin#skill_star_new;
  foreground-repeat:repeat-x;
  min:0;
}
skillProgress[type=old] {
  foreground-image:#ui/gameuiskin#skill_star;
}
skillProgress[type=available] {
  background-color:#FF808080;
  background-image:#ui/gameuiskin#skill_star_place;
  background-repeat:repeat-x;
  foreground-image:#ui/gameuiskin#skill_star_place;
}
skillProgress[type=glow] {
  foreground-image:#ui/gameuiskin#skill_star_new_glow;
  foreground-color:#00FFFFFF;
}
skillProgress[type=shade] {
  foreground-image:#ui/gameuiskin#skill_star_shadow;
}

skillProgressBg {
    pos:0.5*(pw-1)-0.5w, 0.5ph - 0.5h;
  position:absolute;
  re-type:9rect;
  background-image:#ui/gameuiskin#block_bg_rounded_flat;
  background-color:#454c53;
  background-position:0;
  background-repeat:expand;
}

optionProgress {
  height:5*@sf/@pf;
  behaviour:progress;
  re-type:progress;
  background-color:#000000;
  foreground-color:#A0A0A0;
  border:yes;
  border-color:#C0C0C0;
}