keyboardButton {
  re-type:9rect;
  min-width:0.04@shHud;
  height:0.04@shHud;
  background-color:@white;
  background-image:#ui/gameuiskin#keyboardBtn;
  background-position:13, 0;
  background-repeat:expand;
  padding:13, 0;
}

keyboardButtonText {
  re-type:text;
  font:@fontHudMedium;
  color:@black;
}

gamepadButton {
  size: 0.04@shHud, 0.04@shHud;
  background-color:@white;
  background-repeat:aspect-ratio;
}

.fastshortcut gamepadButton {
  size: 1@cIco, 1@cIco;
}


shortcutAxis {
  size: 0.06@shHud, 0.06@shHud;
  background-color:@white;
}

chatHint keyboardButton {
  min-width:1@sIco;
  height:1@sIco;
  background-position:6, 0;
  padding: 6, 0;
}

chatHint gamepadButton,
chatHint shortcutAxis {
  size: 1@cIco, 1@cIco;
}

chatHint keyboardButtonText {
  font: @fontTiny;
  pos:pw/2 - w/2, ph/2 - h/2;
}
