keyboardButton {
  re-type:9rect;
  min-width:0.06@shHud;
  height:0.06@shHud;
  background-color:@white;
  background-image:#ui/gameuiskin#keyboardBtn;
  background-position:13, 0;
  background-repeat:expand;
  padding:13, 0;
}

keyboardButtonText {
  re-type:text;
  font:medium_text_hud;
  color:@black;
}

gamepadButton {
  size: 0.06@shHud, 0.06@shHud;
  background-color:@white;
}

.fastshortcut gamepadButton {
  size: 1@cIco, 1@cIco;
}


shortcutAxis {
  size: 0.086@shHud, 0.086@shHud;
  background-color:@white;
}
