@const checkedTextColor     :@commonTextColor;
@const uncheckedTextColor   :#909090;

@const switchBoxHeight:0.03@sf;
@const switchBoxWidth:2.5@switchBoxHeight;

SwitchBox {
  re-type:9rect;
  behaviour:check;
  height:@switchBoxHeight;
  padding-left:@switchBoxWidth+8*@sf/@pf;
  color:@uncheckedTextColor;
  font:@small;
  text-align:left;
  css-hier-invalidate:yes;
  total-input-transparent:yes;
  snd_change_value:check;
}

SwitchBox:checked {
  color:@checkedTextColor;
}

SwitchBox:focus {
  color:@activeTextColor;
}

[class=optionsTable] SwitchBox {
  pos:0, 50%ph-50%h;
  position:relative;
}

SwitchSliderBg {
  size:@switchBoxWidth, @switchBoxHeight;
  pos:0, 50%ph-50%h;
  position:absolute;
  padding:1;

  re-type:9rect;
  background-position:6,6;
  background-repeat:expand;
  background-image:#ui/gameuiskin#selectbox_bg;
  background-color:@white;
  css-hier-invalidate:yes;
}

SwitchBox:checked > SwitchSliderBg {
  background-image:#ui/gameuiskin#selectbox_bright_bg;
  background-color:@white;
}

SwitchSlider {
  size:ph, ph;
  pos:0, 0;
  position:relative;

  re-type:9rect;
  background-image:#ui/gameuiskin#selectbox_switch;
  background-position:8;
  background-repeat:expand;
  background-color:@white;
}

SwitchBox:checked > SwitchSliderBg > SwitchSlider {
  pos:pw-w, 0;
}

:disabled > SwitchSliderBg, :disabled > SwitchSliderBg > SwitchSlider,
SwitchBox:disabled
{
  color-factor:127;
}