
@const headerIndent: 0.02@scrn_tgt;
@const bigArmyGroupIconSize: 48*@scrn_tgt/@pxFont_tgt;

@const objectiveBlockHeaderHeight: 1@sIco + 8*@sf/@pf + 2*@sf/@pf;
@const objectiveHeight: 0.06@scrn_tgt_font + 2@wwMapInterlinePadding;
@const unitStringHeight: 0.026@scrn_tgt_font + 1@wwMapInterlinePadding;

@const statusPanelHeight: 0.035@scrn_tgt_font;
@const ownerPanelHeight: 0.03@scrn_tgt_font;
@const flyOutSliderWidth: 0.2@scrn_tgt;
@const wwBattleTacticalMapSize: 0.3@scrn_tgt_font;

@const wwBattleBlocksMargin: 0;
@const wwBattleBackgroundShadowLedge: 0.2@scrn_tgt_font;

@const wwWindowListBackgroundPadding: 0.01@scrn_tgt;
@const wwOperationMapMinSize: 0.4@scrn_tgt;

@const wwLogTimeColumnWidth: 44*@sf/@pf;
@const wwLogZoneColumnWidth: 36*@sf/@pf;

@const wwBattleInfoMapMaxSize: 240*@sf/@pf+0.2@wwBattleInfoScreenIncHeight;
@const wwBattleMapShadowPadding: 6*@sf/@pf;
@const wwBlockTabMinWidth: 22*@sf/@pf;



@const objectiveLightTdBackground: #10101010;
@const objectiveHeaderBackground: #22222222;
@const armyForegroundImageHover: #99999999;
@const armyForegroundImageSelect: #FFE451;

@const armyEntrencheColor: #738595;

@const wwNoTeamColor: #c0c0c0;
@const wwTeamAllyColor: #00A8DF;
@const wwTeamEnemyColor: #B63A3E;
@const ownedArmyColor: #54AF56;
@const wwNoTeamColorHover: @white;
@const wwTeamAllyColorHover: #99CBFF;
@const wwTeamEnemyColorHover: #F96D6F;

@const battleColorActive: #ffe451;
@const battleColorInactive: @white;
@const battleColorFull: @white;
@const battleColorOnServer: @red;
@const battleColorFinished: #555555;

@const surrenderPanelColorBG: #7e2627;
@const windowBackgroudDarkColor: #151b21;
@const statusBlockSeparatorColor: #161A22;
@const armyGroupSeparatorColor: @objectiveHeaderBackground;

@const operationLogSystemMessage: #7987a9;
@const operationLogBattleInProgress: #ffde43;
@const operationLogBattleCompleted: #ff8921;
@const operationLogArmyInfo: #89e451;
@const operationLogSectorInfo: #34dfbd;
@const operationLogFilterBar: #010101;
@const operationLogZoneCaptured: @operationLogBattleCompleted;

@const isOperationClanParticipateColor: #FFe9c65c;
@const armySurroundedColor: #fb5952;


objectiveBlock > header {
  width:pw;
  height:1@objectiveBlockHeaderHeight;
  color:@white;
  background-color:@objectiveHeaderBackground;
}

objectiveBlock objectiveSeparator {
  pos: 50%pw-50%w, ph-h;
  position: absolute;
  size: 90%pw, 1;
  background-color: @objectiveHeaderBackground;
}

objectiveBlock wwObjective name,
objectiveBlock wwObjective desc {
  behaviour:textArea;
  re-type:textarea;
  font:@small;
  color:@commonTextColor;
}

objectiveBlock wwObjective taskIcon {
  size:1@cIco, 1@cIco;
  margin-right:0.005@scrn_tgt_font;

  re-type:9rect;
  background-color:@white;
  background-position:0;
  background-repeat:expand;
}

objectiveBlock wwObjective taskIcon[background-image=""] {
  display:hide;
}

imageButton[type=wwAirfield] {
  background-image:#ui/gameuiskin#map_airfield;
}

imageButton[type=wwAirfield]:hover {
  background-image:#ui/gameuiskin#map_airfield_hover;
}

imageButton[type=wwAirfield]:hover > textarea {
  color:@hoverTextColor;
}

imageButton[type=wwAirfield][selected=yes] {
  background-color:@white;
  background-image:#ui/gameuiskin#map_airfield_selected;
}

imageButton[type=wwAirfield][selected=yes] > textarea {
  color:@userlogColoredText;
}

armyBlock {
  css-hier-invalidate:yes;
  total-input-transparent:yes;
}

wwBattleIcon {
  size:1@cIco, 1@cIco;
  css-hier-invalidate:yes;
  pos:50%pw-50%w, 50%ph-50%h;
  position:absolute;
  background-image:#ui/gameuiskin#battles_open;
  background-color:@battleColorInactive;
  background-position:0;
  background-repeat:expand;
}

wwBattleIcon[isTooltipIcon=yes] {
  size:1@mIco, 1@mIco;
  position:relative;
}

wwBattleIcon[status=Active] {
  background-color:@battleColorActive;
}

wwBattleIcon[status=Fake] {
  background-image:#ui/gameuiskin#battles_closed;
}

wwBattleIcon[status=OnServer] {
  background-color:@battleColorOnServer;
}

wwBattleIcon[status=Finished] {
  background-color:@battleColorFinished;
}

wwBattleIcon[status=Full] {
  background-image:#ui/gameuiskin#battles_closed;
}

armyIcon {
  size:1@mIco, 1@mIco;
  css-hier-invalidate:yes;
}

armyIcon[battleDescriptionIconSize=medium] {
  size:1@bigArmyGroupIconSize, 1@bigArmyGroupIconSize;
}

armyIcon[battleDescriptionIconSize=small] {
  size:@armySmallIconWidth, @armySmallIconWidth;
}

armyIcon > background {
  re-type:9rect;
  background-color:@white;
  background-position:0;
  background-repeat:expand;
  foreground-color:@transparent;
  foreground-position:0;
  foreground-repeat:expand;
  size:pw, ph;
}

armyIcon > entrenchIcon {
  size:pw, ph;
}

armyIcon[team=blue] > background {
  background-color:@wwTeamAllyColor;
}

armyIcon[team=red] > background {
  background-color:@wwTeamEnemyColor;
}

armyIcon[team=blue][isBelongsToMyClan=yes] > background {
  background-color:@ownedArmyColor;
}

armyBlock[surrounded=yes] > armyIcon > background {
  foreground-color:@teamRedColor;
}

armyBlock:hover > armyIcon > background,
armyBlock[isForceHovered=yes] > armyIcon > background {
  foreground-color:@armyForegroundImageHover;
}

armyBlock[selected=yes] > armyIcon > background {
  foreground-color:@armyForegroundImageSelect;
}

armyIcon > armyUnitType,
armyIcon > armyGroupText,
armyBlock > textAfterIcon
{
  behaviour:textArea;
  re-type:textarea;
  font:@small;
  color:@userlogColoredText;
}

armyUnitType[battleDescriptionIconSize=medium] {
  font:@normal;
  color:@activeTextColor;
}

armyUnitType[battleDescriptionIconSize=small] {
  font:@tiny;
  color:@activeTextColor;
}

textAfterIcon[battleDescriptionIconSize=medium] {
  font:@normal;
}

armyIcon[managerAccess=yes] > armyGroupText {
  display:hide;
}

armyIcon > armyUnitType {
  color:@black;
}

armyBlock:hover > armyIcon > armyGroupText {
  color:@highlightedTextColor;
}

armyAlertPanel {
  background-color:@objectiveHeaderBackground;
}

armyAlertPanel[isAlert=yes] {
  background-color:@surrenderPanelColorBG;
}

ownerPanel clanTag,
armyGroup clanTag,
armyBlock > textarea,
armyBlock > arrivalTime {
  behaviour:textArea;
  re-type:textarea;
  font:@small;
  color:@commonTextColor;
}

ownerPanel clanTag,
armyGroup clanTag {
  color:@activeTextColor;
}

statusPanel > block {
  height:ph;
  text-valign:center;
  text-halign:center;
  css-hier-invalidate:yes;
}

statusPanel > block > activeText {
  hideEmptyText:yes;
  size:0.25@wwMapPanelInfoWidth, ph;
}

blockSeparator {
  size: 1, ph;
  pos: 0, 50%ph-50%h;
  position: relative;
  background-color: @armyGroupSeparatorColor;
}

statusPanel blockSeparator {
  pos: 0, 50%ph-50%h;
  position: relative;
  size: 1, 90%ph;
  background-color: @statusBlockSeparatorColor;
}

armyGroup blockSeparator,
teamInfoPanel blockSeparator {
  pos:50%pw-50%w, 1@framePadding;
  position:absolute;
  size:1, ph - 2@framePadding;
  background-color: @armyGroupSeparatorColor;
}

armyBlock:hover > textarea,
armyBlock:hover > arrivalTime {
  color:@hoverTextColor;
}

ReinforcementsRadioButtonsList > armyBlock,
FormationRadioButtonsList > armyBlock {
  behaviour:radiobutton;
  re-type:select;
  snd_select:choose;
  snd_set_focus:focus;
  snd_dbl_click:click;
}

ReinforcementsRadioButtonsList > armyBlock:current > armyIcon > armyGroupText,
ReinforcementsRadioButtonsList > armyBlock:current > icon > armyGroupText,
FormationRadioButtonsList > armyBlock:current > armyIcon > armyGroupText,
FormationRadioButtonsList > armyBlock:current > icon > armyGroupText {
  color:@activeTextColor;
}

ww_map_item {
  size:pw, @baseTrHeight;
  re-type:9rect;
  background-position:4,5;
  background-repeat:expand;
  background-image:#ui/gameuiskin#expandable_item_sub_transp;
  background-position: 2@arrowTexturePaddingUpAndRight, 1@arrowTexturePaddingUpAndRight, 1@arrowTexturePaddingUpAndRight, 1@arrowTexturePaddingBottom;
  background-color:@transparent;
  css-hier-invalidate:yes;
  total-input-transparent:yes;
  tabStop:yes;
}
ww_map_item.header {
  size:pw, @leaderboardHeaderHeight;
  background-image:#ui/gameuiskin#expandable_item_sub_transp_selected;
  background-color:#aaaaaa;
}
ww_map_item:hover,
ww_map_item[selected=yes] {
  background-image:#ui/gameuiskin#expandable_item_sub_transp_selected;
  background-color:@white;
}

ww_map_item mission_item_text {
  color:@commonTextColor;
  font:@small;
}
ww_map_item.header mission_item_text {
  font:@normal;
}
ww_map_item[selected=yes] mission_item_text, ww_map_item:hover mission_item_text {
  color:@activeTextColor;
}

ww_map_item.header mission_item_text {
  color:#999999;
}

ww_map_item > missionDiv {
  pos:0, 50%ph-50%h;
  padding-left:20*@sf/@pf;
  width:pw;
}
ww_map_item.header > missionDiv {
  padding-left:10*@sf/@pf;
}

ww_map_item img[medalIcon] {
  pos:20*@sf/@pf-50%w, 50%ph-50%h;
}

ww_operation_list_place {  width:0.2@scrn_tgt_font;
}

MapBlockVisibilitySwitch {
  behaviour:check;
  size:@mIco, @mIco;

  re-type:9rect;
  background-image:#ui/gameuiskin#expandable_item;
  background-color:@gray60;
  background-position:4;
  background-repeat:expand;
  snd_change_value:check;
  css-hier-invalidate:yes;

  tooltip:#worldwar/showControlPanel;
}

MapBlockVisibilitySwitch > icon {
  background-image:#ui/gameuiskin#spinnerListBox_arrow_up;
  background-color:@gray;
  pos:50%pw-50%w, 50%ph-50%h;
  position:absolute;
  size:@sIco, @sIco;
  rotation:270;
  input-transparent:yes;
}

MapBlockVisibilitySwitch:checked {
  background-color:@transparent;
  tooltip:#worldwar/hideControlPanel;
}

MapBlockVisibilitySwitch:checked > icon {
  rotation:90;
}

MapBlockVisibilitySwitch:hover > icon {
  background-color:@white;
}

wwWindowListBackground {
  background-repeat:expand;
  background-position:1@arrowTexturePaddingUpAndRight, 1@arrowTexturePaddingUpAndRight, 1@arrowTexturePaddingUpAndRight, 1@arrowTexturePaddingUpAndRight;
  background-color:@white;

  transparent:50;
}

wwWindowListBackground[type=left] {
  background-image:#ui/gameuiskin#expandable_item_ww_transp_reflect;
}

wwWindowListBackground[type=right] {
  background-image:#ui/gameuiskin#expandable_item_ww_transp;
}

operationResultText {
  behaviour:textArea;
  re-type:textarea;
  width: pw;
  text-align:center;
  font: @title_big;
  color: @white;

  text-shade:smooth;
  text-shade-x:1;
  text-shade-y:1;
  text-shade-color:#CC000000;

  pare-text:yes;
  hideEmptyText:yes;
}

operationResultText[hideText=yes] {
  text-shade-color:@transparent;
}

wwBattleBackgroundShadow {
  re-type:rotation;
  background-repeat:expand;
  background-color:@white;
  background-position:6,6;
  position:absolute;
}

wwBattleBackgroundShadow[type=left] {
  background-image:#ui/gameuiskin#shadow_left;
  size:3@wwBattleBackgroundShadowLedge, ph;
}
wwBattleBackgroundShadow[type=right] {
  background-rotation:180;
  background-image:#ui/gameuiskin#shadow_left;
  size:3@wwBattleBackgroundShadowLedge, ph;
  left:pw-w;
}
wwBattleBackgroundShadow[type=top] {
  background-image:#ui/images/worldwar_window_shadow_bg_image_vert;
  background-rotation:180;
  size:pw, 1@wwBattleBackgroundShadowLedge;
}
wwBattleBackgroundShadow[type=bottom] {
  background-image:#ui/images/worldwar_window_shadow_bg_image_vert;
  size:pw, 1@wwBattleBackgroundShadowLedge;
}

textareaNoTab[isOperationClanParticipateColor=yes] {
  color:@isOperationClanParticipateColor;
  font:@normal;
}

ww_operation_list_place > listbox > mission_item_unlocked > img[medalIcon] {
  background-color:@missionUnlockedColor;
}
ww_operation_list_place > listbox > mission_item_unlocked:hover > img[medalIcon] {
  background-color:@missionUnlockedHoverColor;
}
ww_operation_list_place > listbox > mission_item_unlocked:current > img[medalIcon] {
  background-color:@missionUnlockedSelectColor;
}

textareaNoTab[isYourZone=yes] {
  color:@wwTeamAllyColor;
}
textareaNoTab[isYourZone=no] {
  color:@wwTeamEnemyColor;
}
textareaNoTab:hover[isYourZone=yes] {
  color:@wwTeamAllyColorHover;
}
textareaNoTab:hover[isYourZone=no] {
  color:@wwTeamEnemyColorHover;
}

objectiveZones > textareaNoTab[team=none] {
  color:@wwNoTeamColor;
}
objectiveZones > textareaNoTab[team=blue] {
  color:@wwTeamAllyColor;
}
objectiveZones > textareaNoTab[team=red] {
  color:@wwTeamEnemyColor;
}
objectiveZones:hover > textareaNoTab[team=none] {
  color:@wwNoTeamColorHover;
}
objectiveZones:hover > textareaNoTab[team=blue] {
  color:@wwTeamAllyColorHover;
}
objectiveZones:hover > textareaNoTab[team=red] {
  color:@wwTeamEnemyColorHover;
}

cardImg[logCategoryName=system]
{
  background-color:@operationLogSystemMessage;
}
cardImg[logCategoryName=existing_battles]
{
  background-color:@operationLogBattleInProgress;
}
cardImg[logCategoryName=finished_battles]
{
  background-color:@operationLogBattleCompleted;
}
cardImg[logCategoryName=army_activity]
{
  background-color:@operationLogArmyInfo;
}
cardImg[logCategoryName=zone_capture]
{
  background-color:@operationLogZoneCaptured;
}
