emptyButton.navigationCollapse, emptyButton.navigationExpand {
  min-width:'h';
  background-image:'#ui/gameuiskin#expandable_item';
  background-position:'4';
  background-repeat:'expand';
  background-color:'@transparent';
  css-hier-invalidate:'yes';
  snd_click:'click';
  padding:'0.1h, 0';
}

emptyButton.navigationCollapse:hover,
emptyButton.navigationExpand:hover {
  background-color:'@gray60';
}

emptyButton.navigationExpand {
  order-popup:'yes';
}


emptyButton.navigationCollapse > icon,
emptyButton.navigationExpand > icon {
  size:'@sIco, @sIco';
  valign:'center';
  background-image:'#ui/gameuiskin#spinnerListBox_arrow_up';
  background-color:'@gray';
  background-color:'@gray';
  input-transparent:'yes';
}

[show_console_buttons=no] emptyButton.navigationCollapse > icon,
[show_console_buttons=no] emptyButton.navigationExpand > icon {
  position:'absolute';
  pos:'(pw-w)/2, (ph-h)/2';
}

emptyButton.navigationExpand:hover > icon,
emptyButton.navigationCollapse:hover > icon {
  background-color:'@white';
}


[show_console_buttons=yes] emptyButton.navigationExpand > ButtonImg
[show_console_buttons=yes] emptyButton.navigationCollapse > ButtonImg {
  valign:t = 'center';
}


listbox.navigationItemList > mission_item_unlocked > img {
  size:'ph, ph';
  display:'hide';
  background-color:'@white';
}

[show_console_buttons=yes] listbox.navigationItemList > mission_item_unlocked:current > img {
  display:'show';
}

listbox.navigationItemList[nav_btn_group=RS] > mission_item_unlocked > img {
  background-image:'#ui/controlskin#r_stick_4';
}

listbox.navigationItemList[nav_btn_group=LS] > mission_item_unlocked > img {
  background-image:'#ui/controlskin#l_stick_4';
}

listbox.navigationItemList[nav_btn_group=Dpad] > mission_item_unlocked > img {
  background-image:'#ui/controlskin#dirpad';
}
