@const squadInvitesWidgetPadding: 4*@sf/@pf;

squadButtonImg {
  size:@mIco, @mIco;
  background-color:#00a0a0a0;
}

Button_text[type=squadInvites] > squadButtonImg {
  size:@sIco, @sIco;
  background-color:@gray;
}

Button_text:hover > squadButtonImg {
  background-color:@white;
}

Button_text[type=squadDisband] > squadButtonImg {
  size:@mIco, @mIco;
  background-color:#aad04637;
}

squadMemberStatus {
  size:4*@sf/@pf, 4*@sf/@pf;
  background-image:#ui/gameuiskin#squad_status;
}

squadMemberVoipStatus  {
  size:7*@sf/@pf, 10*@sf/@pf;
  background-image:#ui/gameuiskin#voip_status;
  background-repeat:aspect-ratio;
}

Button_text.squadWidgetMember[status=ready] squadMemberStatus, squadMemberVoipStatus[isVoipActive=yes] {
  background-color:#86d808;
}

Button_text.squadWidgetMember[status=notReady] squadMemberStatus {
  background-color:#ff7e00;
}

squadMemberStatus[isLeader=yes] {
  pos:-2@sf/@pf, -2@sf/@pf; position:relative;
  size:10*@sf/@pf, 10*@sf/@pf;
  background-image:#ui/gameuiskin#squad_leader_star;
  background-color:#fdcf17;
}

Button_text.squadWidgetMember[status=offline] squadMemberStatus, squadMemberVoipStatus[isVoipActive=no] {
  background-color:#a0a0a0;
}

squadMemberVoipStatus[isLeader=yes] {
  pos:4*@sf/@pf, 0; position:absolute;
}

Button_text.squadWidgetMember > memberIcon {
  size:@cIco, @cIco;
  pos:0, 2*@sf/@pf;
  position:relative;
}

invites_widget_background {
  background-repeat:expand;
  background-color:@white;
  background-position:6,6;
  background-image:#ui/gameuiskin#window_body_dark;
  padding:@framePadding;
  foreground-repeat:repeat;
  foreground-color:@white;
  foreground-position:4,4;
  foreground-image:#ui/gameuiskin#pattern_bright_hor_lines;
  tooltip:'';
}

emptyButton.squadWidgetInvite {
  size:@mIco, @mIco;
}

emptyButton.squadWidgetInvite  > img {
  size:pw-@squadInvitesWidgetPadding, ph-@squadInvitesWidgetPadding;
  pos:0.5*(pw-w), 0.5*(ph-h);
  position:absolute;
  border:yes;
  border-color:@black;
}

Button_text.squadWidgetMember > squadMemberNick {
  display:hide;
  input-transparent:yes;
  background-color:@white;
  background-image:#ui/gameuiskin#block_bg_rounded_gray;
  background-repeat:expand;
  background-position:2;
}

Button_text.squadWidgetMember:focus  > squadMemberNick{
  display:show;
}