@const squadInvitesWidgetPadding: 4*@sf/@pf_outdated;

squadButtonImg {
  size:@dIco, @dIco;
  background-color:#00a0a0a0;
}

Button_text[type=squadInvites] > squadButtonImg {
  background-color:@gray;
  background-image:#ui/gameuiskin#sh_invites;
  background-repeat:aspect-ratio;
}

Button_text:hover > squadButtonImg {
  background-color:@white;
}

Button_text[type=squadDisband] > squadButtonImg {
  size:@mIco, @mIco;
  background-color:#aad04637;
}

squadMemberStatus {
  size:4*@sf/@pf_outdated, 4*@sf/@pf_outdated;
  background-image:#ui/gameuiskin#squad_status;
}

squadMemberVoipStatus  {
  size:7*@sf/@pf_outdated, 10*@sf/@pf_outdated;
  background-image:#ui/gameuiskin#voip_status;
  background-repeat:aspect-ratio;
}

Button_text.squadWidgetMember[status=offline] squadMemberStatus, squadMemberVoipStatus[isVoipActive=no] {
  background-color:#a0a0a0;
}

Button_text.squadWidgetMember[status=ready] squadMemberStatus, squadMemberVoipStatus[isVoipActive=yes] {
  background-color:#86d808;
}

Button_text.squadWidgetMember[status=notReady] squadMemberStatus {
  background-color:#ff7e00;
}

Button_text.squadWidgetMember[status=leader] squadMemberStatus {
  pos:-2@sf/@pf_outdated, -2@sf/@pf_outdated; position:relative;
  size:10*@sf/@pf_outdated, 10*@sf/@pf_outdated;
  background-image:#ui/gameuiskin#squad_leader_star;
  background-color:#fdcf17;
}

Button_text.squadWidgetMember[status=leader] squadMemberVoipStatus {
  pos:4*@sf/@pf_outdated, 0; position:absolute;
}

Button_text.squadWidgetMember memberIcon {
  size:@dIco, @dIco;
  pos:0, 50%ph-50%h;
  position:relative;
}

emptyButton.squadWidgetInvite {
  size:@mIco, @mIco;
}

emptyButton.squadWidgetInvite  > img {
  size:pw-@squadInvitesWidgetPadding, ph-@squadInvitesWidgetPadding;
  pos:0.5*(pw-w), 0.5*(ph-h);
  position:absolute;
  border:yes;
  border-color:@black;
}

Button_text.squadWidgetMember > squadMemberNick {
  display:hide;
  input-transparent:yes;
  background-color:@white;
  background-image:#ui/gameuiskin#block_bg_rounded_gray;
  background-repeat:expand;
  background-position:2;
}

Button_text.squadWidgetMember:focus  > squadMemberNick{
  display:show;
}