@const squadInvitesWidgetPadding: 6@sf/@pf;

squadButtonImg {
  size:@dIco, @dIco;
  background-svg-size:@dIco, @dIco;
  background-color:#00a0a0a0;
}

Button_text[type=squadInvites] > squadButtonImg {
  background-color:@gray;
  background-image:#ui/gameuiskin#lb_members_cnt.svg;
  background-repeat:aspect-ratio;
}

Button_text:hover > squadButtonImg {
  background-color:@white;
}

Button_text[type=squadDisband] > squadButtonImg {
  size:@mIco, @mIco;
  background-color:#aad04637;
}

squadMemberStatus {
  pos:4@sf/@pf -w/2, 6@sf/@pf -h/2; position:absolute;
  size:6@sf/@pf, 6@sf/@pf;
  background-svg-size:6@sf/@pf, 6@sf/@pf;
  background-image:#ui/gameuiskin#squad_status.svg;
}

squadMemberVoipStatus {
  pos:10@sf/@pf, 0; position:absolute;
  size:10@sf/@pf, 14@sf/@pf;
  background-svg-size:10@sf/@pf, 14@sf/@pf;
  background-image:#ui/gameuiskin#voip_status.svg;
}

squadMemberCrossPlayStatus {
  behaviour:textArea;
  re-type:textarea;
  font:@fontTiny;
  color:@activeTextColor;
  pos:10@sf/@pf, -h/4; position:absolute;
}

squadMemberCrossPlayStatus[isEnabledCrossPlay=no] {
  color:@fadedTextColor;
}

Button_text.squadWidgetMember[status=offline] squadMemberStatus, squadMemberVoipStatus[isVoipActive=no] {
  background-color:@voiceChatIconMuteColor;
}

Button_text.squadWidgetMember[status=ready] squadMemberStatus, squadMemberVoipStatus[isVoipActive=yes] {
  background-color:@voiceChatIconActiveColor;
}

Button_text.squadWidgetMember[status=notReady] squadMemberStatus {
  background-color:#ff7e00;
}

Button_text.squadWidgetMember[status=leader] squadMemberStatus {
  size:12@sf/@pf, 12@sf/@pf;
  background-svg-size:12@sf/@pf, 12@sf/@pf;
  background-image:#ui/gameuiskin#squad_leader_star.svg;
  background-color:#fdcf17;
}

memberIcon {
  behavior:bhvAvatar;
}

Button_text.squadWidgetMember memberIcon {
  size:@dIco, @dIco;
  pos:0, 50%ph-50%h;
  position:relative;
}

emptyButton.squadWidgetInvite {
  size:@mIco, @mIco;
}

.squadWidgetInvite  > memberIcon {
  size:pw-@squadInvitesWidgetPadding, ph-@squadInvitesWidgetPadding;
  pos:0.5*(pw-w), 0.5*(ph-h);
  position:absolute;
  border:yes;
  border-color:@black;
}

Button_text.squadWidgetMember > squadMemberNick {
  display:hide;
  input-transparent:yes;
  background-color:@white;
  background-image:#ui/gameuiskin#block_bg_rounded_gray;
  background-repeat:expand;
  background-position:2;
}

Button_text.squadWidgetMember:focus  > squadMemberNick{
  display:show;
}

memberReadyIcon {
  size:@dIco,@dIco;
  left:50%pw-50%w;
  position:relative;
  bgcolor:@white;
  background-repeat:aspect-ratio;
  background-svg-size:@dIco, @dIco;
}

memberReadyIcon[isReady=no] {
  background-image:#ui/gameuiskin#icon_primary_fail.svg;
}

memberReadyIcon[isReady=yes] {
  background-image:#ui/gameuiskin#favorite;
}
