expandable {
  re-type:9rect;
  width:pw-10*@sf/@pf;
  pos:50%pw-50%w, 0;
  position:relative;
  background-position:4,4;
  background-repeat:expand;
  background-image:#ui/gameuiskin#shop_item_own;
  background-color:@commonTextColor;
  flow:vertical;
  margin-top:0.5*@scrn_tgt/100.0+2*@sf/@pf;
  padding:-6*@sf/@pf,-4*@sf/@pf, -4*@sf/@pf, -4*@sf/@pf;
  total-input-transparent:yes;
}

expandable > selImg {
  width:pw+2*@sf/@pf;
  re-type:9rect;
  background-position:6,6;
  background-repeat:expand;
  background-image:#ui/gameuiskin#shop_select;
  padding:10*@sf/@pf,6*@sf/@pf, 8*@sf/@pf,6*@sf/@pf;
  flow:vertical;
}

promoButton expandable > selImg {
  padding:10*@sf/@pf,6*@sf/@pf, 4*@sf/@pf,6*@sf/@pf;
}

expandable.simple {
  background-image:#ui/gameuiskin#lr_frame_bg;
  padding:-6*@sf/@pf,-4*@sf/@pf, -2*@sf/@pf, -4*@sf/@pf;
}

expandable.simple[active=yes] {
  background-image:#ui/gameuiskin#lr_frame_bg_active_no_fx;
}

expandable.simple > selImg {
  padding:10*@sf/@pf,8*@sf/@pf, 8*@sf/@pf, 10*@sf/@pf;
}

expandable.simple[fullSize=yes] {
  width:pw;
  padding:0;
}

expandable.simple[fullSize=yes] > selImg {
  padding:4*@sf/@pf,4*@sf/@pf, 6*@sf/@pf, 6*@sf/@pf;
}

expandable:current > selImg {
  background-color:@white;
}

[selImgType=gamepadFocused] > expandable > selImg,  expandable.battletask > selImg {
  background-color:@transparent;
}

[show_console_buttons=yes] [selImgType=gamepadFocused]:focus > expandable:current > selImg {
  background-color:@white;
}

expandable {
  css-hier-invalidate:yes;
}

expandable[equipped=yes] statusImg {
  background-image:#ui/gameuiskin#ok;
}
expandable[status=locked] statusImg {
  background-image:#ui/gameuiskin#locked;
}

expandable.battletask {
  background-image:#ui/gameuiskin#lr_frame_bg;
  padding:0;
}

expandable.battletask[battleTaskStatus=done] {
  background-image:#ui/gameuiskin#window_block_bright;
  background-color:@itemLockedColor;
}

expandable.battletask[battleTaskStatus=done] textareaNoTab {
  overlayTextColor:"faded";
}

expandable statusImg[background-image] {
  background-color:@commonTextColor;
}
expandable:hover, expandable:hover statusImg[background-image] {
  background-color:@hoverTextColor;
}
expandable:current, expandable:current statusImg[background-image] {
  background-color:@activeTextColor;
}

expandable[clickable=yes] {
  behaviour:button;
}
expandable[clickable=yes]:hover {
  background-color:@white;
}

expandable[status=owned], expandable[status=owned] statusImg[background-image] {
  background-color:@shopItemOwned;
}

expandable.battletask[battleTaskStatus=done]:hover {
  background-color:@itemLockedColorHover;
}

expandable.battletask[battleTaskStatus=done]:current {
  background-color:@itemLockedColor;
}

expandable[status=owned]:hover, expandable[status=owned]:hover statusImg[background-image],
expandable[status=owned]:current, expandable[status=owned]:current statusImg[background-image] {
  background-color:@shopItemOwnedFocus;
}

expandable[status=locked], expandable[status=locked] statusImg[background-image] {
  background-color:@shopItemLocked;
}
expandable[status=locked]:hover, expandable[status=locked]:hover statusImg[background-image],
expandable[status=locked]:current, expandable[status=locked]:current statusImg[background-image] {
  background-color:@shopItemLockedFocus;
}

expandable[haveHeader=first] {
  margin-top:5*@scrn_tgt/100.0;
}
expandable[haveHeader=yes] {
  margin-top:8*@scrn_tgt/100.0;
}

promoButton[type=battleTask] expandable {
  margin-top:0;
  padding:0;
}

promoButton[type=battleTask] statusImg,
expandable.battletask statusImg {
  size:1@modStatusHeight, 1@modStatusHeight;
  background-color:@transparent;
  pos:0, 50%ph-50%h;
  position:relative;
}

promoButton[type=battleTask] [battleTaskStatus=complete] statusImg,
expandable.battletask[battleTaskStatus=complete] statusImg  {
  background-image:#ui/gameuiskin#new_reward_icon;
  background-color:@white;
}

promoButton[type=battleTask] [battleTaskStatus=done] statusImg,
expandable.battletask[battleTaskStatus=done] statusImg {
  background-image:#ui/gameuiskin#favorite;
  background-color:@white;
}

expandable > selImg > activeText[caption=yes] {
  pos:0, -h;
  position:absolute;
}

expandable hiddenDiv {
  input-transparent:yes;
  display:hide;
}

expandable:current hiddenDiv,
promoButton expandable.battletask hiddenDiv {
  display:show;
}

expandable expandImg {
  input-transparent:yes;
}

expandable:current expandImg,
promoButton expandable.battletask expandImg {
  display:hide;
}
