[tinyFont=yes] text, text[tinyFont=yes], textarea[tinyFont=yes],
textareaNoTab[tinyFont=yes], textAreaCentered[tinyFont=yes],
[tinyFont=yes] optiontext, hintText[tinyFont=yes],
[tinyFont=yes] activeText, activeText[tinyFont=yes],
[tinyFont=yes] textAreaCentered,
[tinyFont=yes] textareaNoTab, textareaNoTab[tinyFont=yes],
button[tinyFont=yes],
[tinyFont=yes] CheckBox, CheckBox[tinyFont=yes], modBlockHeader[tinyFont=yes], [tinyFont=yes] multiOption {
  font:@tiny;
}

[veryTinyFont=yes] text, text[veryTinyFont=yes], textarea[veryTinyFont=yes],
[veryTinyFont=yes] optiontext, hintText[veryTinyFont=yes],
[veryTinyFont=yes] activeText, activeText[veryTinyFont=yes],
[veryTinyFont=yes] textAreaCentered, textAreaCentered[veryTinyFont=yes],
[veryTinyFont=yes] textareaNoTab, textareaNoTab[veryTinyFont=yes]
button[veryTinyFont=yes], [veryTinyFont=yes] CheckBox, CheckBox[veryTinyFont=yes] {
  font:@veryTiny;
}

activeText[boldFont] {
  font:@normalBold;
}

textarea[hudFont=tiny] {
  font:@hud_tiny;
}

textarea[hudFont=small] {
  font:@hud_small;
}

activeText[hudFont=normal] {
  font:@hud_normal;
}

[wink=slow] {
  behaviour:basicTransparency;
  transp-base:255;
  transp-end:40;
  transp-time:6000;
  transp-func:sin;
  transp-cycled:yes;
  display:show;
}
[wink=fast] {
  behaviour:basicTransparency;
  transp-base:255;
  transp-end:100;
  transp-time:1500;
  transp-func:sin;
  transp-cycled:yes;
  display:show;
}
[wink=yes] {
  behaviour:basicTransparency;
  transp-base:255;
  transp-end:170;
  transp-time:3000;
  transp-func:sin;
  transp-cycled:yes;
  display:show;
}
[syncWink=yes] {
  behaviour:syncTransparency;
  transp-base:255;
  transp-end:170;
  transp-time:3000;
  transp-func:sin;
  transp-cycled:yes;
  display:show;
}
[wink=no],
[syncWink=no] {
  color-factor:255;
}

[fontNormal=yes] {
  font:@normal;
}

[fontBig=yes] {
  font:@times_big;
}

[textShade=yes] {
  text-shade:"smooth:24";
  text-shade-x:0;
  text-shade-y:0;
  text-shade-color:#A0000000;
}

text[shadeStyle=outline33pct],
textarea[shadeStyle=outline33pct],
textareaNoTab[shadeStyle=outline33pct],
controlsHelpText {
  text-shade:"blur:24";
  text-shade-x:0;
  text-shade-y:0;
  text-shade-color:#55000000;
}

blankTextArea[shadeStyle=textOnIcon],
textareaNoTab[shadeStyle=textOnIcon] {
  text-shade:"blur:24";
  text-shade-x:0;
  text-shade-y:0;
  text-shade-color:#AA000000;
}

textareaNoTab[order-status-text-shade=yes],
textarea[order-status-text-shade=yes] {
  text-shade:"smooth:24";
  text-shade-x:1;
  text-shade-y:1;
  text-shade-color:#55000000;
}

[hideEmptyText=yes][text=""] {
  display:hide;
}

[hideText=yes] {
  color:@transparent;
}

[removeParagraphIndent=yes] {
  paragraph-indent:0;
}

[auto-scroll=slow] {
  behaviour:OverflowScroller;
  move-pixel-per-sec:15*@scrn_tgt/100.0;
  move-sleep-time:8000;
  move-delay-time:8000;
}

[auto-scroll=medium] {
  behaviour:OverflowScroller;
  move-pixel-per-sec:30*@scrn_tgt/100.0;
  move-sleep-time:4000;
  move-delay-time:4000;
}

[auto-scroll=no] {
  move-pixel-per-sec:0;
}

div[application-window], frame[application-window] {
  behaviour:window-size;
  window-size-offset-area:5;
}

hoverPopup:hover {
  order-popup:yes;
}

[flow=h-flow], [flow=v-flow] {
  behaviour:flow;
}


[total-input-transparent=yes] * {
  input-transparent: yes;
}
[not-input-transparent=yes] {
  input-transparent:no;
}

[accessKey] {
  behaviour:accesskey;
}
