
[overflow=visible] {
  overflow-x:visible;
  overflow-y:visible;
}

[overflow=auto],   [overflow=scroll],
[overflow-x=auto], [overflow-x=scroll],
[overflow-y=auto], [overflow-y=scroll] {
  behaviour:scrollBox;
}

ScrollBar {
  re-type:9rect;
  margin:0;
  padding:0;
  background-position:4;
  background-repeat:expand;
  background-color:@controlColor;
  background-image:#ui/gameuiskin#scrollbar_bg;
  behaviour:ScrollBar;
  input-transparent:yes;
}

ScrollBar[flow=vertical] {
  width:@scrollBarSize;
}

ScrollBar[flow=horizontal] {
  height:@scrollBarSize;
}

[scrollType=chapter] ScrollBar, optionsBox > ScrollBar,
[scrollType=center] > ScrollBar, [scrollType=menu] ScrollBar,
[scrollType=reward] ScrollBar {
  width:1;
  positon:absolute;
  pos:0.5*(pw +@bw -w),0;
  background-color:@transparent;
}

slotsScrollDiv > ScrollBar {
  positon:absolute;
  pos:0.5(pw-w),0.5(ph-h);
  background-color:@transparent;
}
slotsScrollDiv > ScrollBar[flow=horizontal] {
  height:1;
}
slotsScrollDiv > ScrollBar[flow=vertical] {
  width:1;
}

optionsBox > ScrollBar {
  pos:0.4*(pw-w),0;
}
[scrollType=center] > ScrollBar {
  pos:0.5*(pw-w),0;
}
[scrollType=menu] ScrollBar {
  pos:3%sw+5*@scrn_tgt/100.0;
}

ScrollButtonUp, ScrollButtonDown {
  re-type:9rect;
  background-position:0;
  size:@scrollBarSize, @scrollBarSize;
  background-repeat:expand;
  background-image:#ui/gameuiskin#scrollbar_arrow_up;
  background-color:@controlColor;
}

ScrollButtonDown {
  background-image:#ui/gameuiskin#scrollbar_arrow_down;
}

[flow=horizontal] > ScrollButtonUp,
[flow=horizontal] > ScrollButtonDown {
  re-type:rotation;
  background-rotation:-90;
}

[scrollType=chapter] ScrollButtonUp, [scrollType=chapter] ScrollButtonDown,
[scrollType=menu] ScrollButtonUp, [scrollType=menu] ScrollButtonDown,
[scrollType=reward] ScrollButtonUp, [scrollType=reward] ScrollButtonDown,
optionsBox > ScrollBar ScrollButtonUp, optionsBox > ScrollBar ScrollButtonDown,
slotsScrollDiv > ScrollBar ScrollButtonUp, slotsScrollDiv > ScrollBar ScrollButtonDown {
  size:@scrollArrowsSize, @scrollArrowsSize;
  background-repeat:expand;
  background-color:@controlColor;
}

[scrollType=chapter] ScrollButtonDown, optionsBox > ScrollBar ScrollButtonDown,
[scrollType=menu] ScrollButtonDown, [scrollType=reward] ScrollButtonDown {
  background-image:#ui/gameuiskin#spinnerListBox_arrow_down;
  pos:50%pw-50%w, ph - 0.3*@scrn_tgt/100.0;
  position:absolute;
}

[scrollType=chapter] ScrollButtonUp, optionsBox > ScrollBar ScrollButtonUp,
[scrollType=menu] ScrollButtonUp, [scrollType=reward] ScrollButtonUp {
  background-image:#ui/gameuiskin#spinnerListBox_arrow_up;
  pos:50%pw-50%w, 0;
  margin-top:-2.5*@scrn_tgt/100.0;
}

[scrollType=reward] ScrollButtonUp {
  pos:-w, 50%ph-50%h;
  margin-top:0;
}

[scrollType=reward] ScrollButtonDown {
  pos:pw, 50%ph-50%h;
  margin-top:0;
}

slotsScrollDiv > ScrollBar ScrollButtonUp{
  background-image:#ui/gameuiskin#spinnerListBox_arrow_up;
  pos:-0.7w, 50%ph-50%h;
  position:absolute;
  input-transparent:no;
  tooltip:'';
}
slotsScrollDiv > ScrollBar ScrollButtonDown {
  background-image:#ui/gameuiskin#spinnerListBox_arrow_down;
  pos:pw-0.25w, 50%ph-50%h;
  position:absolute;
  input-transparent:no;
  tooltip:'';
}
slotsScrollDiv > ScrollBar[flow=vertical] ScrollButtonUp {
  pos:50%pw-50%w, -0.8h;
}
slotsScrollDiv > ScrollBar[flow=vertical] ScrollButtonDown {
  pos:50%pw-50%w, ph-0.1h;
}

[scrollType=chapter] ScrollButtonUp:pushed, [scrollType=chapter] ScrollButtonDown:pushed,
[scrollType=menu] ScrollButtonUp:pushed, [scrollType=menu] ScrollButtonDown:pushed,
[scrollType=reward] ScrollButtonUp:pushed, [scrollType=reward] ScrollButtonDown:pushed
optionsBox > ScrollBar ScrollButtonUp:pushed, optionsBox > ScrollBar ScrollButtonDown:pushed,
slotsScrollDiv > ScrollBar ScrollButtonLeft, slotsScrollDiv > ScrollBar ScrollButtonRight {
  background-color:@controlPushedColor;
}

ScrollButtonUp:disabled, ScrollButtonDown:disabled {
  background-color:@transparent;
}

ScrollSlider {
  re-type:9rect;
  background-position:5;
  background-repeat:expand;
  background-color:@controlColor;
  background-image:#ui/gameuiskin#scrollbar_slider;
}

[scrollType=chapter] ScrollSlider, [scrollType=menu] ScrollSlider, [scrollType=reward] ScrollSlider,
optionsBox > ScrollBar ScrollSlider, slotsScrollDiv > ScrollBar ScrollSlider,
[scrollType=hidden] > ScrollBar, [scrollType=hidden] > ScrollBar > ScrollSlider,
[scrollType=hidden] > ScrollBar > ScrollButtonUp, [scrollType=hidden] > ScrollBar > ScrollButtonDown {
  input-transparent:yes;
  display:none;
}


ScrollBar {
  step:12*@scrn_tgt/100.0;
}
tdiv.rankUpList ScrollBar {
  step:@slot_height+2@slot_vert_pad;
}

[scrollType=reward] ScrollBar {
  step:0.24@sf;
}

[scrollType=chapter] > ScrollBar, optionsBox > ScrollBar,
[scrollType=menu] > ScrollBar {
  step:@bigOptionsScrollStep;
}

slotsScrollDiv > ScrollBar {
  step:@slot_width;
}
slotsScrollDiv > ScrollBar[flow=vertical] {
  step:1@slot_height+2@slot_vert_pad;
}

[scroll-align=left] > ScrollBar[flow=vertical] {
  pos:0,50%ph-50%h;
  position:absolute;
}
tdiv[scroll-align=left] {
  padding-left:@scrollBarSize+0.5*@scrn_tgt/100.0;
}
tdiv[scroll-align=left][scroll-padding=no] {
  padding-left:0;
}
tdiv.decalsList ScrollBar{
  step:@decalIconHeight;
}
.misObjectives > ScrollBar {
  step:0.035@scrn_tgt;
}
