@const white :#FFFFFF;
@const black :#000000;
@const red   :#FF0000;
@const blue  :#0000FF;
@const green :#00FF00;

@const gold  :#939300;
@const brown :#804040;

@const gray  :#C0C0C0;
@const silver:#AAAAAA;
@const gray60:#999999;
@const yellow:#FFFF00;
@const transparent :#00000000;

@const mainTitleTextColor       :#FFFFFFFF;
@const mainTitleStrokeColor     :#AA000000;
@const containerMisSelectColor  :#E0E0E0E0;

@const activeTextColor               :#FFFFFFFF;
@const activeTextColorDark           :#FF003973;
@const highlightedTextColor          :#FFf0f0f0;
@const lightHighlightedTextColor     :#ffe8e8e8;
@const commonTextColor               :#FFc0c0c0;
@const minorTextColor                :#FF808080;
@const fadedTextColor                :#88444444;
@const fadedTextColorDark            :#88222222;
@const warningTextColor              :#FFdda018;
@const warningTextColorDark          :#FF5e4700;
@const textInWhiteBlockColor         :#181818;
@const trSelectedTextColor           :#FFFFFFFF;
@const commonMenuButtonColor         :#FFa0a0a0;
@const pushedMenuButtonColor         :#FFc0c0c0;
@const hoverMenuButtonColor          :#FFFFFFFF;
@const redMenuButtonColor            :#FFF02020;
@const inactiveButtonTextColor       :#404040;
@const inactiveButtonFocusTextColor  :#606060;
@const inactiveButtonHoverTextColor  :#555555;
@const hotkeyColor                   :#bea54b;
@const hotkeyColorDark               :#5e4700;
@const axisSymbolColor               :#dddddd;
@const axisSymbolColorDark           :#4d4600;
@const weaponWarning                 :#B03030;
@const weaponLightWarning            :#C08080;
@const weaponPresetColor             :#C89441;

@const tooltipTextColor              :#000000;
@const tooltipActiveTextColor        :#FFFFFF;

@const battleButtonColor             :#FFd0d0d0;
@const pushedBattleButtonColor       :#FFe0e0e0;
@const hoverBattleButtonColor        :#FFffffff;

@const userlogColoredText            :#f9db78;
@const userlogColoredTextDark        :#5c5400;
@const discountTextColor             :#e5e5e5;
@const discountBGColor               :#ff313b;
@const hoverDiscountBGColor          :#ff725b;
@const pushedDiscountBGColor         :#ff313b;
@const oldPrice                      :#777777;
@const bonusNoFrameTextColor         :#FFFFFF;
@const bonusNoFrameShadeColor        :#10302510;
@const shopStatsColor                :#b19b62;
@const unlockHeaderColor             :#f9db78;
@const unlockActiveColor             :#FFFFFF;

@const goodTextColor                 :#20F020;
@const goodTextColorDark             :#007000;
@const badTextColor                  :#ff4b38;
@const badTextColorDark              :#c71400;
@const newTextColor                  :#f9db78;
@const newTextBrightColor            :#fff205;
@const oldTextColor                  :#7c7063;

@const chanceNeverColor              :#707070;
@const chanceLowColor                :#ff4b38;
@const chanceAverageColor            :#d0d010;
@const chanceHighColor               :#20F020;

@const inactiveButtonBgColor         :#808080;

@const navButtonImgColor             :#FFd0d0d0;
@const navButtonDisabledImgColor     :#FF808080;

@const usageRatingColor0     :#c532d2;
@const usageRatingColor1     :#6e75ff;
@const usageRatingColor2     :#3fbdec;
@const usageRatingColor3     :#75db7e;
@const usageRatingColor4     :#dcde33;

@const shopItem              :#e6fbff;
@const shopItemBroken        :#FF8989;
@const shopItemWinkBroken    :#FF0101;
@const shopItemLocked        :#A40005;
@const shopUnitLocked        :#77FF3E3F;
@const shopItemUnlocked      :#e6fbff;
@const shopItemOwned         :#c3f1fe;
@const shopItemOwnedPremium  :#ffab40;
@const shopItemPartOwn       :#BCEBE2;
@const shopItemEquipped      :#c3f1fe;
@const shopItemFocus         :#e6fbff;
@const shopItemReseach       :#d9911f;
@const shopItemLockedFocus   :#FF585A;
@const shopItemOwnedFocus    :#6DD4BF;
@const shopItemOwnedFocusPremium:#ffab40;
@const shopItemResearchFocus :#c8a762;
@const shopItemEquippedFocus :#c3f1fe;
@const shopItemWinkColor     :#ffbf42;
@const shopItemWaiting:      :#96abaf;
@const shopItemWaitingFocus  :#C6FFE7;
@const shopAircraftLocked    :#FF0000;
@const shopAircraft          :#808080;
@const shopAircraftDark      :#555555;
@const shopAircraftOwned     :#FFFFFF;
@const shopWeaponLocked      :#972727;
@const shopLineColor         :#aaaaaa;
@const shopRowColor          :#88181818;
@const shopInServiceImgColor :#d4bc7a;
@const shopItemHover         :#007e3a3a;
@const shopItemPremium       :#ffcb8f;
@const shopItemDisabled      :#575748;

@const shopFrameUnlockedColor: #9f181818;
@const shopFrameLockedColor:   #B2251015;

@const tableHeaderBgColor: #B22D3841;
@const tableHeaderSeparatorColor: #aa181818;

@const slotbarTabColor:         #101419;
@const slotbarTabCurrentColor:  #171e23;
@const slotbarTabHoverColor:    #414f56;
@const slotbarTabPushedColor:   #101419;
@const slotbarTabDisabledColor: #101419;

@const slotbarBgColor:          #e51e252d;
@const slotbarSelUnitBgColor:   #ff566367;

@const crewSkills_show       :#FFc0c0c0;
@const crewSkills_ready      :#FFf9db78;
@const crewSkills_full       :#FFf9db78;
@const crewSkillsText_show   :#FFffffff;
@const crewSkillsText_ready  :#FFf9db78;
@const crewSkillsText_full   :#FFf9db78;

@const commonPromoButtonTextColor         :#FFd0d0d0;
@const hoverPromoButtonTextColor          :@white;

@const linkTextColor:      #17CBFC;
@const linkTextHoverColor: #107eb7;
@const linkTextHoverColorLight: #84E0FA;

@const frameBackgroundColor:           #c80b0e13;
@const frameBorderColor:               #b220262c;
@const frameScaleableBorderColor:      #B22D3841;
@const frameDarkBackgroundColor:       #ff161b21;
@const frameDarkActiveBgColor:         #ff1f242b;
@const frameDarkHoverBgColor:          #ff282e37;
@const frameDarkBorderColor:           #ff283542;
@const frameDarkSelectedBorderColor:   #ff96b1b1;
@const frameDarkLineColor:             #ff4b525a;
@const frameBlueBackgroundColor:       #aa090e18;
@const frameBlueBorderColor:           #aa1b2835;
@const frameTeamRedBackgroundColor:    #3f211413;
@const frameTeamBlueBackgroundColor:   #3f0f161b;

@const selImgHoverColor   :#a0a0a0a0;

@const fadedImageColor  :#444444;
@const activeImageColor :#FFFFFFFF;
@const commonImageColor :#AAAAAA;

@const imageNotSelectedColor   :#FF666666;
@const imageHoverColor         :#FFaaaaaa;
@const imageNotSelCountryColor :#dddddddd;
@const imageHoverCountryColor  :#f8f8f8f8;

@const textItemBroken    :#616161; @const textItemLocked    :#616161;
@const textItemOwned     :#fad49e;

@const cardItemNameColor             :#ce9232;
@const cardItemInfoColor             :#66e066;
@const cardProgressBGColor           :#000000;
@const cardProgressFGColor           :#ce9232;
@const cardProgressDisabledFGColor   :#616161;
@const cardProgressBonusColor        :#FFca4a;
@const cardProgressChangeColor       :#ddc916;@const cardProgressBorderColor       :#88674919;
@const cardProgressTextColor         :#ffb53d;
@const cardProgressTextBonusColor    :#ffe000;

@const currencyGoldColor             :#f2ba3d;
@const currencyGoldColorDark         :#905a09;
@const currencyWpColor               :#c0c0c0;
@const currencyWpColorDark           :#6b6b6b;
@const currencyRpColor               :#6c8fca;
@const currencyRpColorDark           :#5472e0;
@const currencyFreeRpColor           :#d8e577;
@const currencyFreeRpColorDark       :#72791e;
@const premiumColor                  :#b19b62;
@const fixedAxisColor                :#22f011;
@const universalSpareColor           :#f2ba3d;

@const menuButtonBGColor         :#00000000;
@const activeMenuButtonBGColor   :#00000000;
@const inactiveMenuButtonBGColor :#00000000;

@const hoverTextColor         :#FFeeeeee;
@const markedTextColor        :#FFCCC708;
@const markedActiveTextColor  :#FFD5DF1F;
@const disabledTextColor      :#FF777777;
@const disabledActiveTextColor:#FF9F9F9F;
@const errorTextColor         :#FF0000;
@const creditsHeader          :#FFFFFFFF;
@const creditsText            :#FFa0a0a0;

@const grayOptionColor  :#808080;

@const bottomBarBackgroundColor  :#ff161c23;
@const bottomBarForegroundColor: :#ff3d4a52;

@const gameModeColor      :#d8051527;
@const gameModeColorSolid :#1e2935;

@const advertTextColor  :#47C2FF;
@const inQueueTextColor :#00DDFF;

@const controlColor           :#FFFFFFFF;
@const controlPushedColor     :#FFFFFFFF;
@const controlDisabledColor   :#FF303030;
@const progressColor          :#FFc0c0c0;
@const progressHoverColor     :#FFeeeeee;
@const progressActiveColor    :#FFFFFFFF;

@const teamBTextColor:        #000000;
@const teamBBackgroundColor:  #8F8F8F;
@const mainPlayerColor:       #dda339;
@const mySquadColor:          #3E9E2F;
@const lbActiveColumnColor:   #FFe292;
@const teamAnyColor:          #d4d4d4;
@const teamRedColor:          #FF5A52;
@const teamRedDarkColor:      #34110F;
@const teamRedInactiveColor:  #7C5F5D;
@const teamRedLightColor:     #FFA29D;
@const teamBlueColor:         #527AFF;
@const teamBlueDarkColor:     #0F1834;
@const teamBlueInactiveColor: #5C637A;
@const teamBlueLightColor:    #99B1FF;
@const spectatorColor:        #808080;
@const helpF1Color:           #ce9232;

@const evenTrColor:           #11080808;
@const evenQueueTableTrColor: #08202020;
@const queueTableBackColor:   #90909090;
@const contactSelColor:       #22101010;

@const campaignColor:              #FFFFFFFF;
@const chapterUnlockedColor:       #FFe9c65c;
@const chapterUnlockedSelectColor: #FFe9c65c;
@const chapterLockedColor:         #FF424242;
@const chapterLockedSelectColor:   #FF545454;
@const missionUnlockedColor:       #FFcdcdcd;
@const missionUnlockedHoverColor:  #FFeeeeee;
@const missionUnlockedSelectColor: #FFFFFFFF;
@const missionLockedColor:         #FF404040;
@const missionLockedHoverColor:    #FF3e4148;
@const missionLockedSelectColor:   #FF3e4148;
@const chapterTextColor:           #FFDDDDDD;

@const gamepadFocusFrameColor:     #ffd34b;

@const titleTextColor:             #FFFFFFFF;
@const lockedDecal: #333333;
@const lockedDecalHover: #444444;

@const tableBorderColor:#33333333;
@const shadeBackgroundColor:#AA000000;
@const shadeBackgroundColor2:#D6000000;
@const shadeBackgroundColor3:#88000000;
@const shadeBackgroundColor4:#55000000;
@const shadeBackgroundColor5:#E6000000;
@const hudTextBgShade:#66000000;
@const modalShadeColor:#B202060B;
@const shadeBlurredHangarColor:#77000000;
@const optionListLineColor:#BB888888;
@const mapBorderColor:#f4e3c2;

@const conQuality5: #42ff00;
@const conQuality4: #b4ff00;
@const conQuality3: #fff600;
@const conQuality2: #ff6600;
@const conQuality1: #ff0000;

@const constantStatColor: #70707070;
@const constantColorFps:  #70707070;
@const qualityColorEpic:  #70707070;
@const qualityColorGood:  #701C5A1C;
@const qualityColorOkay:  #705A5A10;
@const qualityColorPoor:  #70701C1C;

@const blogDateColor:   #FFf4e3c2;
@const blogHeaderColor: #FFFFFFFF;
@const blogCommonColor: #FFc0c0c0;

@const streakTextColor:       #FFFFE582;

@const chatTeamTextColor:      #FFFFFFFF;
@const chatSenderFriendColor:  @teamBlueColor;
@const chatSenderEnemyColor:   @teamRedColor;
@const chatSenderMeColor:      @mainPlayerColor;
@const chatSenderMySquadColor: @mySquadColor;
@const chatSenderSpectatorColor: @spectatorColor;

@const mChatSenderColor:        #E2E2E2;
@const mChatSenderFriendColor:  #81C0FF;
@const mChatSenderMeColor:      #FFDB4C;
@const mChatSenderMySquadColor: #63FF4C;
@const mChatSenderPrivateColor: #F8D1FF;
@const mChatSenderColorDark:        #AAAAAA;
@const mChatSenderFriendColorDark:  #5D8BFF;
@const mChatSenderMeColorDark:      #DBA238;
@const mChatSenderMySquadColorDark: #4BC139;
@const mChatSenderPrivateColorDark: #B89BD4;

@const chatTextTeamColor:      @teamBlueColor;
@const chatTextSquadColor:     @mySquadColor;
@const chatTextPrivateColor:   #DEBBFF;
@const chatTextAllColor:       #FFc0c0c0;

@const chatTextTeamVoiceColor:  @teamBlueColor;
@const chatTextSquadVoiceColor: @mySquadColor;
@const chatTextEnemyVoiceColor: @teamRedColor;

@const chatInfoColor:          #f2e003;  @const chatActiveInfoColor:    #ffff05;  @const chatTextInviteColor:    #22FF22;
@const chatTextInviteActiveColor: #88FF88;
@const chatTextBlockedColor:   #808080;
@const chatTextXpostColor:     #F85a50;
@const chatTextMpostColor:     #3887E8;

@const playerReadyColor:    #54ce03;
@const playerNotReadyColor: #d93e3e;
@const playerStatsColor:    #e83f29;

@const contactOfflineColor: #d93e3e;
@const contactOnlineColor:  #6dc54B;
@const contactUnknownColor: #979797;

@const hudColorDarkRed    @teamRedInactiveColor;
@const hudColorDarkBlue   @teamBlueInactiveColor;
@const hudColorRed        @teamRedColor;
@const hudColorSquad      @mySquadColor;
@const hudColorHero       @mainPlayerColor;
@const hudColorBlue       @teamBlueColor;
@const hudColorDeathEnemy @teamBlueLightColor;
@const hudColorDeathAlly  @teamRedLightColor;

@const mpReadyColor: #39a525;

@const light_fighterColor:  #ffd2b2; @const medium_fighterColor: #ffac6f; @const heavy_fighterColor:  #ff8932; @const naval_fighterColor:  #ffaba1; @const jet_fighterColor:    #ffcc66; @const light_bomberColor:   #bfd4ff; @const medium_bomberColor:  #a3b1ff; @const heavy_bomberColor:   #938aff; @const naval_bomberColor:   #89b7ff; @const jet_bomberColor:     #c6a0ff; @const dive_bomberColor:    #a6a6d0; @const common_assaultColor: #bde9b5; @const strike_fighterColor: #bde9b5; @const helicopterColor:     #f2f200; @const light_tankColor:     #ffeeee; @const medium_tankColor:    #ffaaaa; @const heavy_tankColor:     #ff6666; @const tank_destroyerColor: #bde9b5; @const spaaColor:           #c6a0ff; @const shipColor:           #00d5e2; @const infantryColor:       @white;
@const artilleryColor:      @white;

@const WPMultiplierColor: #FF00D8FA;
@const ExpMultiplierColor: #FFF48320;
@const BothMultiplierColor: #FF00B554;

@const weaponryItem:              #70000000;
@const weaponryItemFocus:         #BB000000;
@const weaponryItemSelected:      #70333333;
@const weaponryItemSelectedFocus: #BB333333;
@const weaponryBlockLineColor:    #BBBBBBBB;

@const highlightColor:  #90000000;
@const highlightColorHover: #40000000;

@const unitDifferColorHover: #00404040;
@const unitDifferColorSelected: #00FFFFFF;

@const debrBgShadeMyPlaceBlock:#14111111;
@const debrSepColor: #1a1a1a1a;

@const raceMode1stPlace: #f9db78;
@const raceMode2ndPlace: #FFFFFF;

@const fadedImageFrameColor: #FF060709;

@const wagerTextColor: #701000;

@const itemLockedColor: #5a5a5a;
@const itemLockedColorHover: #8a8a8a;
@const battalionSquadronColor: #82A952;

@const menuButtonTextColor:           #FFa0a0a0;

@const menuButtonColorDisabled:       #7f0b0e10;
@const menuButtonBorderColorDisabled: #7f0b0e10;
@const menuButtonTextColorDisabled:   #26212121;

@const menuButtonColorHover:          #ff2d3841;
@const menuButtonBorderColorHover:    #ff2d3841;
@const menuButtonTextColorHover:        #e0e0e0;

@const menuButtonColorPushed:         #99020509;
@const menuButtonBorderColorPushed:   #9907090b;
@const menuButtonTextColorPushed:       #E5818080;

@const playbackButtonColor:        #ff7e00;
@const playbackButtonHoverColor:   #ffa751;
@const playbackButtonPushedColor:  #cb7929;
@const playbackButtonDisabledColor:#7d6753;

@const frameHeaderColor: #CC2A3037;
@const frameSeparatorColor: #19191919;

@const progressBarRedColor: #d84931;
@const progressBarBlueColor: #1ec0e9;
